body {
    font-family: Arial, sans-serif;
    background-image: url('https://yaninatrekhleb.github.io/restaurant-website/img/brooke-lark-aGjP08-HbYY-unsplash.jpg');
    background-size: cover;
    background-position: center;
    color: #333;
    margin: 0;
    padding: 0;
}
